thead {
    border-top: 1px solid #e5e7eb;
}

.tbl__choice {
    border: 1px solid #bdbcdb;
    background: #ffffff;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    transition: all ease 0.2s;
    cursor: pointer;

    &:hover {
        border: 1px solid #16a382;
    }
}

.tbl__choice-active {
    border: 1px solid #bdbcdb;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    cursor: pointer;
}

.tbl__cell {
    text-align: start;
    width: auto;
    border-collapse: collapse;
    line-height: 20px;
    text-align: left;
    position: relative;
}

.tbl__cell-strategy li {
    list-style-image: url('./images/Ellipse_1.svg');
}

.tbl__cell-strategy-step {
    display: flex;
    align-items: center;
    gap: 5px;
}

.tbl__cell-input {
    max-width: 80px;
    text-decoration-line: underline;
    transition: all 0.2s;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

thead tr {
    vertical-align: text-top;
}

tbody td {
    height: 107px;
}

tr {
    border-bottom: 1px solid #e5e7eb;
    transition: all ease 0.2s;
    cursor: pointer;
    height: 76px;
}

tbody tr:hover {
    background: #E5E7EB;
}

tbody tr:hover .MuiSwitch-track {
    background: #BDBCDB;
}

tbody tr:hover .tbl__button {
    background: #BDBCDB;
}

tbody tr:hover input[type="checkbox"] {
    background: #E5E7EB;
    border: 2px solid #BDBCDB;
}

tbody tr:hover .tbl__cell-settings-icon {
    background-color: #bdbcdb;
    mask-image: url("./images/Ic_edit.svg");
    width: 20px;
    height: 20px;
}


// ====================================================================
// checkboxes

.tbl__container input[type="checkbox"] {
    appearance: none;
    outline: none;
    border: 2px solid #bdbcdb;
    background: #ffffff;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    transition: all ease 0.2s;
    padding: 4px;
    cursor: pointer;

    &:hover {
        border: 1px solid #16a382;
    }
}

.tbl__container input[type="checkbox"]:checked {
    content: url("./images/Vector.svg");
    background: #16a382;
    position: relative;
    transition: all ease 0.2s;
    border: 2px solid #16a382;
    width: 24px;
    height: 24px;

    &:hover {
        background-color: #2e7b60;
    }
}

.tbl__container input[type="checkbox"]:indeterminate {
    content: url("./images/Ic_cancel.svg");

    border: 1px solid #fff;
    width: 24px;
    height: 24px;
    visibility: visible;
    background: #ffffff;
    position: relative;

}

.tbl__option {
    display: flex;
    align-items: center;

    input {
        cursor: pointer;
    }

    label {
        display: flex;
        cursor: pointer;
    }
}

.tbl__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    width: 90px;
    height: 28px;
    background: #E5E7EB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    transition: all ease 0.2s;

    &:hover {
        opacity: 0.8;
    }

}

.title-strategy {
    padding-bottom: 6px;
}

.tbl__cell-settings {
    display: flex;
    gap: 10px;
}

.tbl__button-active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    width: 90px;
    height: 28px;
    background: #16a382;
    border: 1px solid #bdbcdb;
    border-radius: 12px;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    transition: all ease 0.2s;

    &:hover {
        background: #2e7b60;
    }

    &:active {
        background: #565555;
    }
}

.tbl__cell-text {
    color: #1a1a1a;
}

.disactiv-font {
    color: #565555;
}

.thead-input {
    margin-top: 10px;
}

.grey {
    color: #808080;
}

.strategy-step {
    text-wrap: nowrap;
    width: 100%;
}



// ===============================================================
// radio button

input[type="radio"],
label {
    cursor: pointer;
    display: flex;
    gap: 7px;
    align-items: center;
}

input[type="radio"] {
    position: relative;
    height: 14px;
    width: 14px;
    transition: all ease 0.2s;
    appearance: none;
    outline: none;
}

input[type="radio"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #bdbcdb;
    background: #ffffff;
    transition: all 0.3s;
    opacity: 1;
}

input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #16a382;
    transform: translate(-50%, -50%);
    opacity: 1;
}

input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #bdbcdb;
    background: #ffffff;
    opacity: 1;
}

.wrapper__radio {
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-width: 90px;
}

// ===================================================================

.tbl__cell-margaMax,
.tbl__cell-settingPrice {
    border-right: 2px solid #808080;
    border-style: dashed;
}

.tbl__cell-cost_price {
    border-left: 2px solid #808080;
    border-style: dashed;

}

// .tbl__cell0 {
//     width: 140px;
// }

// .tbl__cell7 {
//     hyphenate-limit-chars: 10 6 3;
//     hyphens: auto;
// }
// .tbl__cell10 {
//     hyphenate-limit-chars: 10 6 3;
//     hyphens: auto;
// }

// .tbl__cell11 {
//     hyphenate-limit-chars: 10 7 3;
//     hyphens: auto;
// }
.tbl__cell8semi {
    hyphenate-limit-chars: 10 5 3;
    hyphens: auto;
    -o-hyphens: auto;
    width: 150px;
}

.tbl__cell {
    padding: 16px;
    color: #1A1A1A;

}

.tbl__cell-art {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.tbl__cell-art-icon {
    display: flex;
    gap: 5px; 
}


.tbl__cell-copy {
    stroke: #1A1A1A;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        stroke: #1A1A1A;;
    }
}

// .tbl__cell0 {
//     width: 60px;
// }
// .tbl__cell1 {
//     width: 90px;
// }
// .tbl__cell2 {
//     width: 150px;
// }
// // .tbl__cell3 {
//     width: 100px;
// }
// .tbl__cell4 {
//     width:90px
// }
// .tbl__cell5 {
//     width:90px
// }
// .tbl__cell6 {
//     width:90px
// }
// .tbl__cell7 {
//     width: 113px;
// }
// .tbl__cell8 {
//     width: 113px;
// }


// .tbl__cell7semi{
//     width: 113px;

// }

// .tbl__cell8semi{
//     width: 81px;
// }

// .tbl__cell9semi {
//     width: 113px;
// }

// .tbl__cell10 {
//     width: 113px;
// }

// .tbl__cell11{
//     width: 113px;
// }
.css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root{
    min-width: 150px !important;
}


@media (max-width: 655px) {
    .title {
        font-size: 14px;
    }
}