.menu__wrapper{
    height: 100%;
    background: #e4e4ef;
    position: fixed;
    left: 0;
    top: 60px;
}

.last__link{
  border-bottom: 1px solid rgba(189, 188, 219, 0.42);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65px;
  padding: 16px 20px 136px 20px;
  height: 100%;



  &__products,
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__ic_log_out {
    width: 28px;
    height: 22px;
  }

  &__ic_settings {
    width: 28px;
    height: 22px;
  }

  &__ic_auto_rates {
    width: 28px;
    height: 25px;
  }

  &__ic_auto_soft {
    width: 28px;
    height: 26px;
  }

  &__ic_wb_browser {
    width: 22px;
    height: 22px;
    margin-right: 6px;
  }

  &__ic_repricer {
    width: 28px;
    height: 21px;
  }
}

.products {
  &:last-child {
    border-bottom: 1px solid;
  }

  &__item a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(189, 188, 219, 0.42);
    padding: 13px;
    transition: 0.2s;

    &:hover {
      border-radius: 8px;
      background: #f5f5f5;
    }
  }
}

.list {
  &__item a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(189, 188, 219, 0.42);
    padding: 13px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      border-radius: 8px;
      background: #f5f5f5;
    }
  }
}

.MuiTooltip-tooltip {
  max-width: 500px;
  width: 100%;
  height: 32px;
  text-align: center;
  justify-content: center;
  border-radius: 4px;
  background: rgba(86, 85, 85, 0.9) !important;
  cursor: pointer;
}

.css-8y3x9n {
display: flex;
justify-content: center;
align-items: center;
}

.css-kudwh-MuiTooltip-arrow{
color: rgba(86, 85, 85, 0.9) !important;;
}
