.form {
    display: flex;
    flex-direction: column;
    max-width: 464px;
    width: 100%;
    padding: 0 20px;
    position: relative;
    z-index: 1000;
    gap: 3px;
    margin-top: 66px;
    margin-bottom: 196px;

    &__auth-error {
        color: #d34444;
        margin-bottom: 11px;
    }

    &__auth,
    &__reg {
        background: #ffffff;
        box-shadow: -12px 12px 16px -4px rgba(0, 0, 0, 0.08);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        padding: 30px 24px 0 24px;
    }

    &__reg {
        gap: 20px;
        padding-bottom: 36px;
        padding-top: 42px;
    }
    &__auth {
        padding-bottom: 43px;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__login,
    &__password {
        background: #ffffff;
        border: 1px solid #e5e7eb;
        border-radius: 12px;
        padding: 14px 0 13px 23px;
        height: 48px;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 150%;
    }

    &__login-error,
    .invalid {
        border: 1px solid #d34444;
        background: #ffffff;
        border-radius: 12px;
        padding: 14px 0 13px 23px;
        height: 48px;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 150%;
    }

    &__password-error {
        border: 1px solid #d34444;
        background: #ffffff;
        border-radius: 12px;
        padding: 14px 0 13px 23px;
        height: 48px;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 150%;
        margin-top: 18px;
    }

    &__login::placeholder,
    &__password::placeholder {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        color: #565555;
        font-family: "Nunito Sans", sans-serif;
    }

    &__password {
        margin-top: 18px;
    }

    &__auth-button {
        background: #16a382;
        border-radius: 12px;
        margin-top: 29px;
        margin-bottom: 18px;
        height: 48px;
        transition: all ease 0.3s;
        color: #fff;
    }

    &__auth-button:hover {
        background: #2e7b60;
        color: #fff;
        transition: all ease 0.3s;
    }

    &__reg-button:hover {
        filter: drop-shadow(0px 0px 10px rgba(46, 123, 96, 0.5));
    }

    &__auth-notice {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: 5px;
        cursor: pointer;
        color: #565555;
    }

    &__reg-button {
        border: 1px solid #16a382;
        border-radius: 12px;
        height: 48px;
        background: #fff;
        transition: all ease 0.3s;
        a {
            color: #16a382;
        }
    }
    &__reg-notice {
        color: #565555;
    }
}

