.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    position: relative;
    height: 100%;
}

.left {
    position: absolute;
    background: #2e7b60;
    height: 100%;
    width: calc(50% - 99px);
    right: 0;
}

.auth__version {
    position: absolute;
    right: 33px;
    bottom: 31px;
    color: #fff;
}
@media(max-width:560px){
    .left{
        width: 50%;
    }
    .auth__version{
        right: 20px;
    }
}

@media(max-height:800px){
.auth{
    height: auto;
}
}