.tbl__tooltip {
  transition: all ease 0.1s;
  height: 16px;
  z-index: 1000;
  padding: 6px;
}

.tbl__help {
  transition: all ease 0.1s;
  cursor: pointer;
}

.tbl__wrapp {
  padding-top: 6px;
}

.tbl__icon-passive {
  background-image: url("./images/Passive.svg");
  transition: all ease 0.1s;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.tbl__icon-hover {
  background-image: url("./images/Hover.svg");
  transition: all ease 0.1s;
  cursor: pointer;
  width: 14px;
  height: 14px;
}

.tbl__tooltip {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #ffffff;
  border: 1px solid #bdbcdb;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  max-width: 288px;
  height: 72px;
  padding: 6px 0px 6px 8px;
  transition: all 0.1s;
  left: 0px;
  top: -49px;
  z-index: 2000;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  display: none;
}

.tbl__tooltip-active {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #ffffff;
  border: 1px solid #bdbcdb;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  max-width: 288px;
  height: 52px;
  padding: 6px 0px 6px 8px;
  transition: all 0.1s;
  left: 0px;
  top: -49px;
  z-index: 2000;
  position: absolute;
  opacity: 1;
  pointer-events: none;
  display: block;
}

.tbl__help-icon {
  position: absolute;
  bottom: -17px;
  left: 19px;
}