.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.05);
    z-index: 2000;
    opacity: 0;
    transition: all ease 0.3s;

    &__wrapper {
        flex-shrink: 0;
        flex-grow: 0;
        width: 100%;
        min-height: 100%;
        margin: auto;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    &__content {
        background: #ffffff;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        max-width: 707px;
        width: 100%;
        z-index: 1000;
        padding: 43px 25px 0 25px;
        display: flex;
        flex-direction: column;
        margin: 50px 0;
        flex-shrink: 0;
        flex-grow: 0;
        overflow: visible;
        opacity: 1;
    }
    &__add {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px 20px;
        gap: 356px;
        background: #ffffff;
        box-shadow: 0px 1px 0px #e4e4ef;
        width: 100%;
        color: #000000;
    }

    &__add svg:hover {
        fill: darkgreen;
        cursor: pointer;
    }

    &__icon-add {
        width: 24px;
        height: 22px;
        background-color: #bdbcdb;
        mask-image: url("./images/Ic_add_art.svg");
        transition: all ease 0.2s;
        position: absolute;
        right: 22px;
        cursor: pointer;
        top: 10px;
    }
    &__icon-add:hover {
        width: 24px;
        height: 24px;
        background-color: #16a382;
        mask-image: url("./images/Ic_add_art.svg");
    }

    &__icon-add:active {
        width: 24px;
        height: 24px;
        background-color: #565555;
        mask-image: url("./images/Ic_add_art.svg");
    }

    &__input-add {
        border: 1px solid #16a382;
        border-radius: 12px;
        height: 48px;
        margin-top: 44px;
        padding: 16px 14px;
        color: #000000;
        font-size: 13px;
        font-weight: 500px;
        display: block;
        opacity: 1;
        transition: all ease 0.2s;
    }

    &__arts {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 34px 39px 34px 45px;
        gap: 24px;
        flex-wrap: wrap;
        img {
            cursor: pointer;
        }
    }

    &__art-item {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 125px;
    }
    &__delete-button {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 4px 16px;
        gap: 10px;
        height: 28px;
        border: 1px solid #bdbcdb;
        border-radius: 12px;
    }
    &__button {
        margin-left: auto;
        margin-top: auto;
        margin-bottom: 53px;
    }

    &__icon-delete {
        width: 20px;
        height: 20px;
        background-color: #bdbcdb;
        mask-image: url("./images/Ic_delete_passive.svg");
        cursor: pointer;
        transition: all ease 0.2s;
    }

    &__icon-delete:hover {
        background-color: #d34444;
        mask-image: url("./images/Ic_delete_passive.svg");
    }

    &__icon-delete:active {
        background-color: #565555;
        mask-image: url("./images/Ic_delete_passive.svg");
    }
}

.popup-active {
    opacity: 1;
    pointer-events: all;
    transition: all ease 0.3s;
    background: rgba(0, 0, 0, 0.05);
    height: 100%;
    width: 100%;
    z-index: 3000;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    background: rgba(0, 0, 0, 0.05);
}

.hidden {
    opacity: 0;
}

@media (max-width: 760px) {
    .popup {
        &__content {
            max-width: 500px;
        }
    }
}

@media (max-width: 560px) {
    .popup {
        &__content {
            height: max-content;
            max-width: 350px;
        }
        &__arts {
            padding: 10px 10px 20px 10px;
        }
        &__icon-add{
                right: 0;
        }
    }
}
