.profil {
    position: absolute;
    top: 67px;
    right: -1px;
    z-index: 1000;

    &__menu-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px 15px;
        gap: 10px;
        justify-content: space-between;
        width: 220px;
        height: 48px;
        background: #e5e7eb;
        cursor: pointer;
        transition: all 0.3s ease-out;
        box-shadow: 0px 1px 0px #bdbcdb;
        &:hover {
            background: #bdbcdb;
            box-shadow: 0px 1px 0px #bdbcdb;
        }
    }

    &__menu-text {
        line-height: 150%;
    }

    &__mark-icon {
        position: absolute;
        right: 8px;
        top: -9px;
    }
}

.third-item {
    border-radius: 0px 0px 0px 8px;
}

.first-item {
    box-shadow: 0px 1px 0px #bdbcdb;
    border-radius: 8px 0px 0px 0px;
}

.second-item {
    border-radius: none;
}

@media(max-width:800px){
    .profil{
        top: 50px;
    }
}