$color-turquoise: #16a382;

.header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #e5e7eb;
  height: 90px;
  // position: fixed;
  // background: #fff;
  // left: 0;
  // top: 0;
  // z-index: 1000;


  &__nav-bar {
    padding: 0 30px 0 30px;
    width: 100%;
    margin: 0 auto;
  }
  &__logo {
    img {
      padding-top: 10px;
      height: 89px;
      width: 137px;
    }
  }

  &__first-column {
    display: flex;
    gap: 107px;
    align-items: center;
  }

  &__second-column {
    display: flex;
    gap: 108px;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }


  &__menu-item.active {
    color: $color-turquoise;
  }

  &__social-icons{
    display: flex;
    gap: 20px;
    align-items: center;


  }

}


.youtube-icon{
  width: 35px;
  height: 25px;
  fill: #F44336;
  transition: 0.2s;
&:hover{
  fill: #CB111C;
}
}

.tg-{
  width: 30px;
  height: 30px;
  transition: 0.2s;
  &:hover{

  }

}

.tg- use{
    fill: #fff;
  
}

@media (max-width: 860px) {
  .header {
    &__second-column {
      gap: 30px;
    }
    &__first-column {
      gap: 30px;
    }
  }
}

@media (max-width: 555px) {
  .strategy,
  .history {
    font-size: 12px;
  }

  .header {
    &__item {
      a {
        font-size: 12px;
      }
    }
    &__nav-bar {
      padding: 0 15px 0 15px;
    }
    &__first-column,
    &__second-column {
      gap: 13px;
    }
    &__logo {
      img {
        width: 120px;
      }
    }
  }
}
