$color-turquoise: #16a382;

.header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #e5e7eb;
  height: 70px;
  // position: fixed;
  // background: #fff;
  // left: 0;
  // top: 0;
  // z-index: 1000;


  &__nav-bar {
    padding: 10px 30px 10px 30px;
    width: 100%;
    margin: 0 auto;
  }

  &__logo {
    img {
      // padding-top: 10px;
      // height: 51px;
      width: 120px;
      // height: 40px;
    }
  }

  &__first-column {
    display: flex;
    gap: 107px;
    align-items: center;
  }

  &__second-column {
    display: flex;
    gap: 50px;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }

  &__menu-item {
    transition: 0.2s;

    &:hover {
      color: #16a382;

    }
  }

  &__menu-item.active {
    color: $color-turquoise;
  }

  &__social-icons {
    display: flex;
    gap: 20px;
    align-items: center;


  }

  &__notificationsIcon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid rgba(0, 0, 0, .08);

    &:hover {
      background-color: #E5E7EB;
      border-radius: 6px;
    }
  }

}


.youtube-icon {
  width: 30px;
  height: 20px;
  fill: #F44336;
  transition: 0.2s;

  &:hover {
    fill: #CB111C;
  }
}

.tg- {
  width: 25px;
  height: 25px;
  transition: 0.2s;
  // fill:#2AABEE;

  //   &:hover{
  // fill:#226E96
  //   }

}

.disabled-link {
  pointer-events: none;
}

.notificationsList {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    padding: 25px;
    gap: 20px;
    font-size: 16px;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    transition: 0.2s;
    cursor: pointer;
    align-items: flex-start;

    &:hover {
      background: #fafafa;
    }
  }

  &__visibilityIcon {
    color: #bdbcdb;
    font-size: 20px;
    width: 20px !important;
    height: 20px !important;

    &:hover {
      color: #d34444;
    }
  }

  &__actions {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    margin-left: auto;
  }
}

.emptyNotifications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  gap: 20px;
  color: #565555;

}


@media (max-width: 860px) {
  .header {
    &__second-column {
      gap: 30px;
    }

    &__first-column {
      gap: 30px;
    }
  }
}

@media (max-width: 555px) {

  .strategy,
  .history {
    font-size: 12px;
  }

  .header {
    &__item {
      a {
        font-size: 12px;
        line-height: normal;
      }
    }

    &__first-column,
    &__second-column {
      gap: 13px;
    }

  }
}