.footer {
    background-image: url("./images/Field_footer.png");
    width: 100%;
    height: 216px;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 100vw;
    width: 100%;
    min-height: 216px;
    &__icon {
        position: absolute;
        left: 50px;
        bottom: 50px;
        cursor: pointer;
    }
}

@media(max-width:600px){
    .footer{
        background: #2E7B60 ;
    }
}