.table {
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    position: relative;
    overflow-x: auto;
    &__buttons {
        display: flex;
        height: 48px;
        width: max-content;
        background: #e5e7eb;
        border-radius: 12px 12px 0px 12px;
        position: relative;
        z-index: 1000;
    }

    &__button {
        background: #f5f5f5;
        border-radius: 12px 12px 0px 0px;
        padding: 12px 82px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 14px;
        min-width: 259.41px;
        width: 100%;
        justify-content: center;
        transition: all ease 0.3s;
        color: #565555;
        &:hover {
            opacity: 0.9;
        }
    }

    &__button-active {
        background: #e5e7eb;
        border-radius: 12px 12px 0px 0px;
        padding: 12px 82px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 14px;
        min-width: 259.41px;
        width: 100%;
        justify-content: center;
        transition: all ease 0.3s;
        &:hover {
            opacity: 0.9;
        }
    }

    &__button-icon {
        transition: all ease 0.3s;
        opacity: 1;
    }

    &__button-icon-active {
        opacity: 0;
        transition: all 0.2s ease 0s;
    }

    &__help {
        cursor: pointer;
        transition: all ease 0.3s;
    }

    // &__wr-arrow {
    //     position: absolute;
    //     bottom: 90px;
    //     right: 0;
    //     transform: scale(1.1);
    // }

    // &__container-arrow {
    //     position: fixed;
    //     background: green;
    //     width: 100%;
    //     right: calc((100vw - 1460px) / 2);
    //     left: calc((100vw - 1460px) / 2);
    //     height: 50px;
    // }

    &__up-button {
        position: fixed;
        height: 50px;
        width: 50px;
        opacity: 0.6;
        cursor: pointer;
        transition: all 0.3s ease-out;
        bottom: 100px;
        right: 50px;
        &:hover {
            opacity: 1;
        }
    }

    &__pagination {
        display: flex;
        justify-content: flex-end;
        height: 96px;
        gap: 20px;
        align-items: center;
        position: sticky;
        left: 0;
    }

    &__pagination-left,
    &__pagination-right {
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }

    &__tbl {
        table-layout: fixed;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }
}

.disabled {
    cursor: default;
    opacity: 1;
}

@media (max-width: 600px) {
    .table {
        &__button,
        &__button-active {
            min-width: 173px;
        }
    }
}
@media (max-width: 560px) {
    .table {
        gap: 50px;
        &__buttons {
            flex-direction: column;
        }
    }
}
// @media (min-width: 1400px){
// .main,.header__nav-bar {
//     min-width: calc(100% - 10%);}}
